@font-face {
    font-family: 'Courgette';
    src: url('Courgette-Regular.ttf') format('truetype');
    }
.text_post {
    font-size: 140%;
    margin-left: 1%;
    font-family:'Courgette', sans-serif
}
.text_title_post {
    font-size: 180%;
    margin-left: 1%;
    font-family:'Courgette', sans-serif
}
.post {
    background-color:#c6fff9;
    border: 12px double #7a5db4;
    margin: 1% 1%;
    flex-grow: 1;
}
.posts {
    display: flex;
    flex-wrap: wrap;
}
.author {
    font-size: 120%;
    margin-left: 1%;
    font-family:'Courgette', sans-serif
}
header {
    font-family:'Courgette', sans-serif;
    text-align: center;
    font-size: 200%;
    background-color:#bdffdb;
    border-bottom: 6px solid #7a5db4;
}
h1 {
    margin: 0%;
}
body {
    margin: 0%;
    background-color: #F7F8FC;
}
footer {
    font-family:'Courgette', sans-serif;
    font-size: 100%;
    margin: 0%;
    background-color:#bdffdb;
    border-top: 6px solid #7a5db4;
}
.text_footer {
    margin: 0%;
}
